h1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: red;
}

#sentence {
  display: flex;
  justify-content: center;
  color: blue;
  font-weight: bold;
  font-size: 2.5rem;
}

#result {
  text-align: center;
  color: chartreuse;
  font-size: 3rem;
  padding-bottom: 50px;
}
input {
  width: 80%;
  height: 100px;
  margin-inline: auto;
  display: flex;
}

#inputArea::placeholder {
  color: dimgray;
  text-align: left;
}

#restartBtn {
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  height: 40px;
  width: 100px;
  font-weight: bold;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#restartBtn:hover {
  color: black;
  background-color: orange;
}